.dropdown {
    position: relative;
}

.dropHeader {
    position: relative;
    width: 100%;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 10px;
    z-index: 1;
}

.dropTitle {
    color: #fefefe;
    font-size: 18px;
    font-weight: 500;
}

.dropToggler {
    transition: transform 0.2s;
    width: 24px;
    height: 24px;
}

.dropToggler {
    cursor: pointer;
}

.toggled {
    transform: rotate(180deg);
}

.dropBody {
    padding: 40px 20px;
    color: var(--secondary-color);
    font-size: 18px;
    overflow: hidden;
    background-color: #F6F6F6;
    width: 100%;
    border-radius: 0 0 10px 10px;
    display: none;
    margin-top: -10px;
}

.dropBody.opened {
    display: block;
}

@media only screen and (max-width: 600px) {
    .dropHeader {
        padding: 8px 10px;
    }

    .dropTitle {
        font-size: 13px;
    }

    .dropToggler {
        width: 16px;
        height: 16px;
    }

    .dropBody {
        padding: 30px 10px;
        font-size: 12px;
    }
}