.linksWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

    .linksWrapper > * {
        margin-left: 50px;
    }

    .linksWrapper > *:first-child {
        margin-left: 0;
    }

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}