.apartmentDetails {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    align-items: stretch;
}

    .apartmentDetails > * {
        width: 45%;
        height: 100%;
    }

.equipments {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.equipmentItem {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .apartmentDetails {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .apartmentDetails > * {
            width: 100%;
            height: auto;
        }

        .apartmentDetails > *:first-child {
            margin-bottom: 20px;
        }

    .equipmentItem {
        font-size: 12px;
    }
}