html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header, main {
  padding: 0 100px;
}

@media only screen and (max-width : 1024px) {
  body {
    padding-top: 30px;
  }

  header, main {
    padding: 30px 60px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding: 20px;
  }

  header, main {
    padding: 20px 20px;
  }
}
