.link {
    transition: text-underline-offset 0.2s, opacity 0.2s;
    color: var(--secondary-color);
    font-size: 24px;
}

    .link:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    .link.visited {
        text-decoration: underline;
        text-decoration-color: var(--secondary-color);
        text-underline-offset: 4px;
    }

    .link.visited:hover {
        text-underline-offset: 6px;
    }