.link {
    color: var(--secondary-color);
}

    .link:hover {
        cursor: pointer;
    }

    .link.visited {
        text-decoration: underline;
        text-decoration-color: var(--secondary-color);
    }